/* @media only screen and (min-width: 401px) and (max-width: 529px) */
@media only screen and (max-width: 529px) {
  .header_info {
    width: block;
  }
  .header_logo {
    display: none;
  }

  .header_name {
    width: auto;
    height: auto;
    font-size: 20px;
  }
}
