/* @media only screen and (min-width: 1025px) and (max-width: 1920px) */
@media only screen and (min-width: 1025px) {
  .header_info {
    justify-content: space-between;
  }

  .header_logo {
    font-size: 22px;
  }

  .header_name {
    font-size: 20px;
    position: absolute;
    /* top: 33%; */
    left: 50%;
    transform: translateX(-50%);
  }

  /* toggle hover 작업 */

  .header_toggle a:hover {
    transform: translateY(-3px);
    transition: all 300ms linear;
  }

  .header_toggle > a > span:first-child {
    position: relative;
    top: 0;
  }

  .header_toggle > a > span:first-child::before {
    content: "";
    display: block;
    width: inherit;
    height: inherit;
    background-color: inherit;
    position: absolute;
    top: 0;
  }

  .header_toggle > a:hover > span:first-child::before {
    top: -10px;
    opacity: 0;
    transition: all 400ms ease;
  }

  .header_toggle > a > span:nth-last-child(2) {
    position: absolute;
    bottom: -2px;
    margin-bottom: 0;
  }

  .header_toggle a:hover > span:nth-last-child(2) {
    display: none;
  }

  .header_toggle a > span:last-child {
    opacity: 0;
    position: absolute;
    bottom: -10px;
  }

  .header_toggle a:hover > span:last-child {
    opacity: 1;
    bottom: -2px;
    transition: all 400ms ease;
  }

  .header_nav {
    font-size: 14px;
  }

  .header_nav_list {
    text-align: center;
  }

  .header_nav_list_item:not(:last-child) {
    margin-right: 30px;
  }

  .intro_text {
    font-size: var(--font-h1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 52%;
  }

   
.intro_background > img:last-of-type{
  display: none;
}

  #section_text_wrap {
    padding: 195px 100px;
  }

  #section_text_wrap > p {
    font-size: var(--font-h2);
    line-height: 140%;
    word-break: keep-all;
  }

 .color_nav {
  padding-top: 120px;
 }

 .color_nav_device_list > a {
   font-size: 28px;
   margin-right: 40px;
 }

 .color_list_item > a{
  font-size: 24px;
  margin-left: 50px;
 }

 .device_color_wrap {
   width: 1100px;
   padding: 40px 0;
 }

 .color_list_item {
   margin-bottom: 50px;
 }
 .color_list_item > a 
 {  font-size: 24px;}

 .color_device_pic {
  width: 560px;
  height: 680px;}

  .color_device_chevron_indicator {
    width: 600px;}





  #article_specifications {
    justify-content: space-between;
    align-items: flex-end;
  }
  .specifications_text > h2 {
    margin-bottom: 30px;
  }

  .specifications_text > p {
    margin-bottom: 20px;
    line-height: 150%;
  }

  .specifications_text > a {
    height: 50px;
    line-height: 46px;
    padding: 0 45px;

    border-radius: 34px;

    font-size: 14px;
    letter-spacing: 2.4px;
  }

  .camera_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    font-size: 58px;
  }

  .camera_text > a {
    height: 50px;
    border-radius: 58px;
    font-size: 14px;
    margin-top: 40px;
    line-height: 50px;
  }

  .camera_img > img:last-of-type {
    display: none;
  }
  
  .footer_inner {
    padding-top: 180px;
  }
  .footer_share {
    font-size: 22px;

    top: 40px;
  }

  .footer_share > span {
    margin-left: 12px;

    font-size: 18px;
  }

  .footer_settings {
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .footer_settings_network > a {
  
    margin-left: 14px;
  }
  
  .footer_settings_color {
    top: 40px;
    right: 500px;
    position: absolute;
  }
  /* 
  .footer_settings_color > a {
    padding: 4px;
    margin-left: 8px;
  } */

  .footer_settings_global_links {
    top: 40px;
    font-size: 14px;
    position: absolute;
    right: 0;
  }
  .footer_settings_network {
    font-size: 14px;
  }

  /* .footer_settings_network > a {
    padding: 4px;
    margin-left: 14px;
  } */

  .footer_policy {
    font-size: 14px;
    padding-left: 120px;
  }

  .footer_logo {
    font-size: 18px;
  }
  .footer_policy > p {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .topBtn {
    bottom: 50px;
    right: 80px;
    font-size: 48px;
  }
}
