#wrap {
  width: 100%;
  height: auto;
  background-color: white;
}

#header_wrap {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  color: white;
}

.header_info {
  width: 90%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  width: auto;
  height: auto;
}

.header_name {
  width: auto;
  height: auto;
}

.header_toggle {
  width: 30px;
  height: auto;
  background-color: aqua;
  cursor: pointer;
}

.header_toggle > a {
  display: block;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.header_toggle > a > span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  margin-bottom: 8px;
}

.header_toggle > a > span:last-child {
  margin-bottom: 0;
}

.header_nav {
  width: 90%;
  height: 40%;
  display: flex;
  border-top: 1px solid var(--color-letter-grey);
}

.header_nav_list {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_nav_list_item:not(:last-child) {
  margin-right: 30px;
}

/* header */
