#wrap {
  width: 100%;
  height: auto;
  background-color: white;
}

#header_wrap {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  color: white;
  z-index: 10000;
}

.header_info {
  width: 90%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header_logo {
  width: auto;
  height: auto;
  font-size: 22px;
}

.header_name {
  width: auto;
  height: auto;
  font-size: 20px;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
}

.header_name > span {
  float: left;
}

.header_name > span:first-child {
  position: relative;
  margin-right: 16px;
  /* 수정 */
}

.header_name > span:first-child::after {
  content: "";
  display: block;
  width: 1px;
  height: 90%;
  background-color: white;
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translateY(-50%);
}

.header_toggle {
  width: 30px;
  height: auto;
  cursor: pointer;
  position: relative;
}

.header_toggle > a {
  display: block;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-bottom: 2px;
  transition: all 0s linear;
}

.header_toggle > a > span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  margin-bottom: 8px;
}

.header_toggle > a > span:last-child {
  margin-bottom: 0;
}

/* toggle hover 작업 */

.header_toggle a:hover {
  transform: translateY(-3px);
  transition: all 300ms linear;
}

.header_toggle > a > span:first-child {
  position: relative;
  top: 0;
}

.header_toggle > a > span:first-child::before {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  background-color: inherit;
  position: absolute;
  top: 0;
}

.header_toggle > a:hover > span:first-child::before {
  top: -10px;
  opacity: 0;
  transition: all 400ms ease;
}

.header_toggle > a > span:nth-last-child(2) {
  position: absolute;
  bottom: -2px;
  margin-bottom: 0;
}

.header_toggle a:hover > span:nth-last-child(2) {
  display: none;
}

.header_toggle a > span:last-child {
  opacity: 0;
  position: absolute;
  bottom: -10px;
}

.header_toggle a:hover > span:last-child {
  opacity: 1;
  bottom: -2px;
  transition: all 400ms ease;
}

/* */

.header_nav {
  width: 90%;
  height: 40%;

  border-top: 1px solid var(--color-letter-grey);
  font-size: 14px;
  /* position: relative; */
}

.header_nav_list {
  display: block;
  width: auto;
  height: 100%;
  text-align: center;
  /* position: absolute; */
  /* top: 50%;
  transform: translatey(-50%);
  left: 50%;
  transform: translateX(-50%); */
  margin-top: 12px;
}

.header_nav_list_item {
  display: inline-block;
}

.header_nav_list_item:not(:last-child) {
  margin-right: 30px;
}

/* .header_nav_list_item::before {
  content: "";
  display: block;
  width: 10px;
  /* 나중에 값 받아오기 */
/* height: 2px;
  background-color: var(--color-skyblue);
}  */

/* header */

/* section */

#contents_wrap {
  width: 100%;
  height: auto;
}

/* */

#section_intro_wrap {
  width: 100%;
  height: auto;
  position: relative;
}

.intro_background {
  width: 100%;
  height: 100%;
}

.intro_background > img {
  width: 100%;
  height: auto;
}

.intro_text {
  width: auto;
  height: auto;
  font-size: var(--font-h1);
  font-weight: var(--weight-extrabold);
  position: absolute;

  left: 50%;
}

/*  */

#section_text_wrap {
  width: 100%;
  height: auto;
  /* 높이 수정 */
  background-color: var(--color-back-light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 195px 100px;
  /* 패딩 수정 */
  box-sizing: border-box;
}

#section_text_wrap > p {
  font-size: var(--font-h2);
  font-weight: var(--weight-extrabold);
  line-height: 140%;
}

/*  */

#section_color_wrap {
  width: 100%;
  height: auto;
  /* 높이 수정 */
  background-color: hotpink;
  display: flex;
  flex-direction: column;
}

.color_nav {
  width: 100%;
  height: 20%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.color_nav_list {
  display: block;
  width: auto;
  height: auto;
  display: flex;
}

.color_nav_list_item {
  display: block;
  width: auto;
  height: 100%;
}

.color_nav_list_item::after {
  content: "";
  display: block;
  width: 20px;
  /* 값 받아와서 수정 */
  height: 1px;
  background-color: black;
}

.color_nav_list_item:first-child {
  margin-right: 80px;
  /* 나중에 수정 */
}

.color_nav_list_item > a {
  width: 100%;
  height: 100%;
  color: black;
  font-size: var(--font-h4);
  font-weight: var(--weight-normal);
}

.color_show {
  width: 100%;
  height: 80%;
  background-color: indigo;
  display: flex;
}

/*  */

#article_specifications {
  width: 100%;
  height: 450px;
  /* 높이 수정 */
  background-color: var(--color-back-grey);
}

/*  */

#article_camera {
  width: 100%;
  height: auto;
  position: relative;
}

.camera_text {
  width: auto;
  height: auto;
  background-color: salmon;
  color: white;
  line-height: 280%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* top: 0;
  bottom: 0;
  margin: auto; */
}

.camera_text > a {
  display: block;
  width: 120px;
  height: 30px;
  /* 나중에 수정 */
  border: 4px solid white;
  border-radius: 16px;
}

.camera_img {
  width: 100%;
  height: 100%;
}

.camera_img > img {
  width: 100%;
  height: auto;
}
/* footer */

#footer_wrap {
  width: 100%;
  height: auto;
  /* background-color: white; */
  background-color: salmon;
}
